.body-profileUser {
    padding: 0px;
    margin: 0px;
    position: relative;
    background: #343434;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    min-height: 100vh;
}

.body-profileUser a {
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.body-profileUser a:hover {
    text-decoration: none;
}

.body-profileUser ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body-profileUser button:focus {
    outline: none;
}


.body-profileUser section {
    position: relative;
    top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
